form.form(name='feedback')
  div.form__group
    input#name.form__input(required
      minlength='3'
      type='text'
      name='name'
      autocomplete='off'
      placeholder="")
    label.form__label(for='name') Имя
  div.form__group
    input#email.form__input(required
      type='email'
      name='email'
      autocomplete='off'
      placeholder="")
    label.form__label(for='email') Email
  div.form__group
    input#phone.form__input(required
      pattern='^((\\+7|7|8)+([0-9]){10})$'
      minlength='6'
      title='В этом поле должны быть только цифры. Минимальная длина - 6 символов.'
      type='tel'
      name='phone'
      autocomplete='off'
      placeholder="")
    label.form__label(for='phone') Телефон
  button.form__btn.btn__primary(type=submit) Отправить заявку